body{
	background-color: #ffddcc;
	font-size: 100%;
}
img.thumb{
	width: 30%;
}
.text{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #ffaaaa;
	padding: 1%;
	background-color: #ffeeee;
}
h1, h2{
	text-align: center;
}
.go-back{
	font-size: 0.8em;
}
.footer{
	font-size: 0.6em;
}